@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: white;
	background: #1b3b61;
}
p{
	font-size: 25px;
}
.container{
	margin: auto;
	margin-top: 5%;;

}
form{
	width: 500px;
	margin: auto;
}
a>i{
	color: white;
	size: 9px;
}
li{
	list-style: none;
	margin: 10px;
}

#whatsapp{
	
	border-radius: 50%;
	width: 25px;
	justify-content: right;
	justify-items: right;
	line-height: 1.2;
	align-items: right;
	text-align: center;
}
nav{
	height: 50px;
}

ul{
	display: flex;
	margin: auto;
}
footer{
	margin-top: 10%;
}
.logo{
	
	background-image: url("Logo.JPG");
	height: 150px;
	width: 450px;
	background-repeat: no-repeat;
	margin: auto;

}
.sub-title {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
}
.login-user{
	width: 400px;
	height: 30px;
	margin: 0px 0px 9px 0px;
	border:2px solid #ccd5da;
	
	
}
.btnSubmit{
width: 440px;
height: 35px;
margin-top: 10px;
background: #0085c4;
color: white;
font-size: 20px;
border-color: #1b3b61;
cursor: pointer;
}
.btnSubmit:hover{
	background: white;
	color: #1b3b61;
}

.icon-grupo{
	
	width: 35px;
	height: 36px;
	 color: #484e5a;
 	 background: #e9edee;
 	 border: #ccd5da;	
}
.input-group{
display: flex;
}
.input-group-label{
	align-items: center;
	display: flex;
	padding: .350rem .45rem;
}
.eye-icon{
	cursor: pointer;
	margin: 10px;
	width: 30px;
	margin-top: -5px;
}

.fas fa-eye-slash{
	visibility: hidden;
	z-index: 100;
	position: absolute;
}
.rodape{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	

}
.Criador, .marcaR{
	width: 500px;
	margin-left: 3rem;
}


@media screen and
(min-width: 200px) and (max-width: 379px){
	.btnSubmit{
		width: 310px;
	}
	.login-user{
		width: 255px;
	}
	.container{
		margin: 0px;
	}
	form{
		margin: auto;
		width: 350px;
		
	}
	.logo{
		-moz-transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		-webkit-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
		margin-left: -15%;
	}
	
	
	footer{
		margin-top:30%;
	}
	.Criador, .marcaR{
	width: 300px;
	margin-left: 3rem;
	}
}


@media screen and (min-width: 380px) and (max-width: 480px)
{
	
	.container,.form-group {
		width: 340px;
	}
	form{
		width: 380px;
	}
	.btnSubmit{
		width: 85%;
	}
	.login-user{
		width: 70%;
	}
	.logo{
		transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		-webkit-transform: scale(0.8, 0.8);
		margin-left: -15%;
	}
	footer{
		margin-top:30%;
		width: 380px;
	}
	.Criador, .marcaR{
	width: 300px;
	margin-left: 3rem;
	}
	

}
